/* InfiniteScrollPartners.module.css */
@keyframes scroll-right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animateScrollRtl {
  animation: scroll-right-to-left 15s linear infinite;
}
